@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway&family=Roboto+Mono:wght@300;400&display=swap');
body{
    background-color: blanchedalmond;
    font-family: 'Montserrat', sans-serif;
}

.userChoice span{
    font-size: 1em;
}

.userChoice{
    display:inline-block;
    margin-left: 33%;
    margin-right: 33%;
}

.userChoice span, .userChoice p, .userChoice input{
    display: block;
    filter: drop-shadow(0px 0px 20px #000000);
}

#submit{
    margin-top: 50px;
    display: block;
    align-self: center;
}

#pcChoiceH2, #conclusion{
    opacity: 0%;
}

#conclusion{
    text-align: center;
    font: 20px bold;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 5; }
    .div2 { grid-area: 3 / 2 / 4 / 3; }
    .div3 { grid-area: 3 / 3 / 4 / 4; }
    .div4 { grid-area: 3 / 4 / 4 / 5; }